# Ignore Data directory
processing_notebooks/data/

# Ignore ProcessedDataSets directory inside PreProcessing
processing_notebooks/PreProcessing/ProcessedDataSets/

Utilities/

*.csv

*.geojson

*.mbtiles

.DS_Store

# Ignore VectorTilesPipeline build and deployment files
static_tiling/VectorTilesPipeline/build_tiles/
static_tiling/VectorTilesPipeline/tileserver/
static_tiling/VectorTilesPipeline/docker-compose.yml
